.Member
{
  display: flex;
  //margin-bottom: 10px;
  align-items: center;
  //margin: 10px 0;
  //border:1px solid var(--primary_gray);
  border-bottom: 1px solid var(--primary_gray_border);
  margin-bottom: 5px;
  img
  {
    //background-color: var(--primary_gray-background);
    width:40px;
    height: 40px;
    margin:5px
  }
  .txt-div
  {
    margin-left: 5px;
    .name
    {
      font-size: 14px;

      color: black;
    }
    p
    {
      padding:2px 0;
      font-size:10px;
      color:var(--primary_gray);
      font-family:"inter","sans-serif";
    }
    .placeholder
    {
      color: black;
      margin-left: 5px;
    }

  }
}
.txt-mini-div
{
  display: flex;
  margin-right: 10px;
  p
  {
    font-size:14px;
  }
}
.txt-mini
{
  display: flex;
}