.Member
{
  display: flex;
  //margin-bottom: 10px;
  align-items: center;
  margin: 10px 0;
  background-color:#fff;
  img
  {
    //background-color: var(--primary_gray-background);
    width:40px;
    height: 40px;
    border: 1px solid var(--primary_gray);
    margin-left:2.5px;
    border-radius:2.5px;
  }
  .txt-div
  {
    margin-left: 5px;
    .name
    {
      font-size: 14px;
      font-weight: bold;
      color: black;
    }
    p
    {
      font-size:8px;
      color:var(--primary_gray);
      font-family: "Open Sans", sans-serif;
    }
    .placeholder
    {
      color: black;
      margin-left: 5px;
    }

  }
}
.txt-mini-div
{
  display: flex;
  p
  {
    font-size:14px;
  }
}

