.ExploreCompoment-div
{
  display: flex;
  align-items: center;
  //background-color: #0B111D;
  background: rgba(11, 17, 29, .75) url(../../assets/image/synth-retrowave-synthwave-fon-new-retro-wave-sintveiv-retr-7.jpg) no-repeat center center fixed;
  background-blend-mode: multiply;
  background-size: cover;

  height:100vh;
  justify-content: center;
  //background-repeat:no-repeat;
  div
  {
    .title-name
    {

      text-align: center;
      h1
      {
        font-size:52px;
        color: #fff;
      }
    }
    .explore-Item
    {
      margin-top: 26px;
      display: flex;
      align-items: center;
    }
  }
}