.DepartmentButton
{
  .button
  {

    border:1px solid var(--primary_gray_border);
    background-color:#fff;
    border-radius: 4px;
    width: 100px;
    padding:6px 10px;
    font-size:16px;
    transition-duration:0.2s;

    &:hover
    {
      border-radius: 4px;
      cursor: pointer;
      background-color:var(--pink_primary);
      color:#fff;
    }
  }
}
.DepartmentButton-selected
{
  .button {

    border: 1px solid var(--primary_gray_border);
    background-color: var(--pink_primary);
    border-radius: 4px;
    width: 100px;
    padding: 6px 10px;
    color:#fff;
    font-size: 16px;
    transition-duration: 0.2s;
    &:hover
    {
      cursor: pointer;
    }

  }

}
