* {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

.app
{
    background-color: rgba(151,116,207,0.19);
    height: 200vh;
}

.app__body
{
    display:flex;
}


