.profile
{
  display:flex;
  justify-content:center;
  .profile-flex
  {
    flex-direction: column;
    display: flex;
    //text-align: center;
    .top
    {
      text-align: center;

    }
    .middle
    {
      .inputImageFile
      {

      }

      .middle-department
      {
        align-items:center;
        display: flex;
        justify-content: space-between;
      }
      .middle-category
      {
        .middle-category-left
        {
          .middle-category-div
          {
            display: flex;
            align-items: center;
            justify-content:space-between;
          }
        }

        .middle-category-right
        {
          .profile-image
          {
            //display:none;
            width:25px;
            height:25px;
          }
        }

        .upload-btn-wrapper
        {
          position: relative;
          overflow: hidden;
          display: inline-block;
        }

        .btns {
          border: 1px solid var(--primary_gray_boder_input);
          color: black  ;
          background-color: white;
          padding:10px 20px;
          font-size: 16px;
          font-weight: bold;
        }

        .upload-btn-wrapper input[type=file] {
          font-size: 100px;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
          &:hover
          {

            cursor:pointer;
          }
        }
      }
    }
  }
}

