:root
{
  --primary_gray_boder_input: #B3B3B3;
}
.ExploreTeamDashBoard
{
  //height: 100vh;
  //margin-top: 90px;

  min-height:100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  background-image: url(../../assets/image/synth-retrowave-synthwave-fon-new-retro-wave-sintveiv-retr-7.jpg);
  background-color: rgba(11, 17, 29, 0.25);
  background-blend-mode:multiply;
  //background-position:center;
  background-size: cover;
  background-repeat:no-repeat;
  
}
.layout-overlay-open
{
  position:fixed;
  background:rgba(0,0,0,0.6);
  width:100%;
  height:100vh;
  top:0;
  left:0;

  z-index:1;
  transition: all 0.5s ease-in-out;
  //display:none;
}
.layout-overlay-close
{
  display:none;
}

.creatTeam-PopUp-open
{
  box-shadow:5px 5px 3px rgba(0,0,0,0.2);
  position:fixed;
  background-color:#fff;
  transform:translate(-50%,-50%) scale(1.2);
  z-index:2;
  left:50%;
  top:50%;

  //display: none;

  .header
  {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #fff;
    background-color:var(--primary);
    h3
    {
      font-family: Inter,sans-serif;
      flex-grow: 1;
      margin:15px;

    }
    i
    {
      padding: 10px 15px;
      .i-div
      {
      width:46px;
      height:46px;
      text-align:center;
      //padding:0 10px;
      //text-align: center;

    }
      &:hover
      {
        background-color:#E74895;
        cursor: pointer;

      }
  }
  }
  .main
  {
    text-align: center;

    display: flex;
    .left_input
    {
      margin: 10px 20px;
      .left_input-div
      {
        .textareaInput
        {
          margin: 5px 0;
          padding:10px;
          resize:none;
          border: 1px solid var(--primary_gray_boder_input) ;
          &:focus
          {
            border: 1px solid transparent ;
            outline:2px solid var(--primary)
          }
        }
        p
        {
          font-family: Inter, sans-serif;
          font-size: 10px;
          text-align: start;
          margin-top: 5px;
        }
      //border-right: 4px solid var(--primary_gray_background);
      .button-div
      {
        //text-align: center;
        button
        {
          margin-top:15px;
          background-color: var(--primary);
          text-align: center;


          width:300px;

          outline:none;
          color: #fff;
          font-size:16px;
          border:2px solid transparent;
          padding:10px 12px;
          border-radius:2px;
          &:hover
          {
            background-color: var(--primary_gray_background);
            border:2px solid var(--primary);
            color: var(--primary);
            cursor:pointer;
          }
        }

        }
      }
    }

    .right_input
    {
      text-align: center;
      margin: 10px 20px;
      .right_input-div
      {
      width:250px;
      //margin-left: 15px;
      p
      {
        text-align: start;
        font-family: Inter, sans-serif;
        font-size: 10px;
        margin-top:10px;
        margin-bottom:5px;
      }
      .memberSize
      {

        font-size:8px;
        color:var(--primary);
        margin-top:5px;
      }
      .selector
      {
        margin-top:5px;
      }

      input
      {
        font-family: "PT Sans", sans-serif;
        font-size: 16px;
        outline:none;
        border: 1px solid var(--primary_gray_boder_input) ;
        padding:8px 10px;
        color: black;
        width:250px;
        &:focus
        {
          outline:2px solid var(--primary);
          border: 1px solid transparent;
        }
      }
        input[type=number]
        {
          -moz-appearance: textfield;
        }
        .optional_input
        {
          margin-bottom:15px;
        }
      }
    }
  }
}
option:hover
{
  background-color: #488f8f
}
.creatTeam-PopUp-close
{
  display:none;
}
.select-Department, .select-Activity, .select-Permission
{
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  outline:none;
  padding:8px 10px;
  color: black;
  width:250px;
  border:1px solid var(--primary_gray_boder_input);
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right ;
  -webkit-appearance: none;
  background-position-x: 220px;

  &:focus
  {
    outline:2px solid var(--primary);
    border: 1px solid transparent;
  }
  option
  {

  }
}


