.ExploreTeamDashBoard
{
  height: 100vh;
  //margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0B111D;
  //background-image: url(../../assets/image/synth-retrowave-synthwave-fon-new-retro-wave-sintveiv-retr-7.jpg);
  //background-position:center;
  //background-size: cover;
  //background-repeat:no-repeat;

}