$primary: #EA2282;
$hover: #e74895;
.dropdown-menu
{
  width : 200px;
  position:absolute;
  top: 80px;
  list-style: none;
  text-align: start;
  li
  {
    background: $primary;
    cursor: pointer;
    &:hover
    {
      background: $hover
    }
  }
  .dropdown-menu.clicked
  {
      display:none
  }
  .dropdown-link
  {
    display: block;
    width: 100%;
    height:100%;
    text-decoration: none;
    color: #fff;
    padding:16px;
  }
}