.DetailTap-Content-div
{
  flex-grow: 1;
  margin-left: 5px;
  background-color: rgb( 10, 14, 43,0.5);

}
.top-right-detail
{
  .first-text-div
  {
    display: flex;
    .value-holder
    {
      margin-left: 5px;
    }
  }
  .second-text-div
  {

    display: flex;
    .value-holder
    {
      margin-left: 5px;
    }
    .label
    {
      margin-left: 20px;
    }
  }

}

.double-div
{
  display: flex;

}

.value-holder
{
  color: #000000;
  font-family: "Open Sans", sans-serif;

}
.label
{
  color: var(--primary_gray);
  font-family: "Open Sans", sans-serif;
}
.activity_icon
{
  width:80px;
  height:80px;
  border: 1px solid var(--primary_gray);
}
.text-div
{
  display: flex;
  .value-holder
  {
    margin-left: 5px;
  }
}
.middle-left-detail
{
  display: flex;
  .activity_icon
  {
    background-color: #fff;
    border: 2px solid var(--primary_gray)
  }
}
.DetailTap-Content-block-div
{
  background-color: rgba(255, 255, 255,1);
  position:sticky;
  top:80px;
  margin-bottom: 10px;

}
.bottom-detail
{

}

.top-detail
{
  display: flex;
  padding:15px 15px 5px 15px;
  .left-detail
  {

  }
  .right-detail
  {
    margin-left: 80px;
  }
}
