.left-detail
{
  .top-left-detail
  {
    h2
    {
      padding-bottom: 15px;
    }
  }
  .bottom-left-detail
  {
    margin-top: 20px;
    .text-div
    {
      margin:15px 0 10px 0;
    }
  }
}

.right-detail
{
  .top-right-detail
  {
    margin-top: 45px;
    //margin-bottom: 20px;
    .double-div
    {
      margin-bottom: 5px;

    }
    .text-div
    {
      margin-bottom: 5px;
    }
  }
  .middle-right-detail
  {
    p
    {
      color: var(--primary_gray)
    }
    border-radius: 5px;
    padding: 5px;
    border: 1px solid var(--primary_gray_border);
  }

}

.middle-detail
{
  display: flex;
  .Description
  {

  }
}

.small-text-div
{
  .text-div
  {
    p
    {
      font-size:12px;
    }
    .value-holder
    {

    }
  }
}


.big-text-div
{
  .text-div
  {
    p
    {
      font-size:16px;
      margin-bottom:3px;
    }
  }
}
.small-text-div
{
  .text-div
  {
    p
    {
      margin: 2px 0;
    }
    .value-holder
    {
      margin-left: 3px;
    }
  }
}

.middle-left-detail-activity
{
  margin-left: 15px;
}