:root
{
  --primary_gray: #6A6A6A
}
.FindTapContent
{
  width:470px;
  //min-height: 1000px;
  //height:600px;
  //overflow-x: hidden;
  //overflow-y: auto;
    .list_content
    {
      padding: 15px 15px 15px 15px;
      display: flex;
      align-items: start;
      background-color: #fff;


      //border-left:10px solid var(--primary);
      border-left:10px solid transparent;


        .Left-content
        {
          margin-right: 10px;
          .main_title
          {

          }
          .description_location
          {
            margin-top:5px;
            margin-bottom: 10px;
            font-family: 'Open Sans', sans-serif;
            font-weight: normal;
            color:var(--primary_gray);
          }
          .tag
          {
            margin-right: 5px;
          }
          .description_post
          {
            margin-top: 10px;
            display: flex;
            align-items: center;

            .text_dev
            {
              display: flex;
              .text_placeholder
              {
                font-family: 'Open Sans', sans-serif;
                color: var(--primary_gray);
                font-size: 12px;
                margin-right: 5px;

              }
              .text_data
              {

                font-family: 'Open Sans', sans-serif;
                color: #000000;
                font-size: 12px;
                margin-right: 16px;

              }
            }
          }
          .role_title
          {
            //margin-top: 10px;
          }
      }
        .Right-content
        {
        display: flex;
        .activity_icon
        {
          border:2px solid var(--primary_gray);
          border-radius: 2px;
          width:120px;
          height:100%;
          padding:5px;

          background-color:#fff;
        }
      }
    }

}
